.addGoods{
   
    #basic{
        margin: 100px auto;
        // border: 1px solid green;
        .title{
            color: black;
            font-family: '微软雅黑';
            text-align: center;
            // border: 1px solid pink;
            margin-bottom: 15px;
            font-size: 30px;
        }
    }
}