.ant-card{

    .ant-card-body{
        max-height: 780px;
    }
    // 类似无用
    .ant-carousel{
            max-width: 100px;
            max-height: 135px;
            // .slick-slider{
            //     // width: 100%;
            //     // height: 100%;
            //     .slick-list{
            //         // width: 100%;
            //         .slick-track{
            //             // width: 100%;
            //             .slick-slide{
                       
            //             }
            //         }
            //     }
            // }
        } 
}
