// ui登录框架
.login_box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../img/login_bg.webp");
    user-select: none;

    .center {
        background-color: skyblue;
        opacity: 0.8;
        width: 500px;
        height: 500px;
        border-radius: 20% 20% 60% 60%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        h2 {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 19px;
            font-weight: 800;
        }
        .ant-btn-primary {
            width: 200px;
        }
    }
}
